/******************************************
			GLOBAL
******************************************/

/*  
    box-sizing: include padding and border in the element total width and height 
*/
*, *::after, *::before { box-sizing: border-box; }
*, *::after, *::before { -webkit-font-smoothing: antialiased; } /* sharpen font */


body {
	background-color: grey;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.header {
	background-color: green;
	flex: 1;
	max-height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
}

.header-child {
	display: flex;
	flex: 1;
	max-width: 960px;
	justify-content: space-between;
}

.header-body {
	flex: 1;
	display: flex;
	justify-content: space-between;
}

.content {
	background-color: blue;
	padding: 10px;
	flex: 1;
	display: flex;
	justify-content: center;
}

.content-child {
	display: flex;
	flex: 1;
	max-width: 960px;
	max-height: 100px;

}

.profile {
	flex: 1;
	background-color: pink;
	max-width: 100px;

}

.msg {
	flex: 1;
	background: orange;
	padding: 15px;
}

.footer	{
	background-color: purple;
	flex: 1;
	max-height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
}

.footer-child {
	display: flex;
	flex: 1;
	max-width: 960px;
	justify-content: space-between;
}