/*
	wk.css
 	wk prefix means walet kiten
*/

/******************************************
			GLOBAL
******************************************/

/*  
    box-sizing: include padding and border in the element total width and height 
*/
*, *::after, *::before { box-sizing: border-box; }
*, *::after, *::before { -webkit-font-smoothing: antialiased; } /* sharpen font */
a { text-decoration: none; }

/******************************************
			WK GENERICS
******************************************/

/*** container styles ****/
.wk-row { 
	display: flex; 
	flex-direction: row; 
} /* organize the children in a row */
.wk-col {					
	display: flex;
	flex-direction: column;
}  /* organize the children in a column */

/*** container child styles ****/
.wk-eq { flex: 1; } /* all children share the size equaly */



/******************************************
			WRAPPER
******************************************/

.wrapper {
	min-height: 100vh;
	height: 100vh;
}

/******************************************
			HEADER
******************************************/
.header {
	max-height: 50px;
	height: 50px;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid rgba(150,150,150,0.5);
}

.header-child {
	max-width: 960px; 
}

.logo {
	max-width: 150px;
}

.nav {
	justify-content: flex-end;
}

.nav-item {
	padding-left: 20px;
}

.nav-item a {
	color: blue;
}
/******************************************
			CONTENT
******************************************/
.content {
	justify-content: center;
	overflow-y: scroll;
}

.content-child {
	max-width: 960px;
	padding: 15px;
}

/******************************************
			FOOTER
******************************************/
.footer {
	max-height: 50px;
	height: 50px;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-top: 1px solid rgba(150,150,150,0.2);
}

.footer-child {
	max-width: 960px;
	justify-content: space-between;
}

.footer-child a {
	color: blue;
}

/*** PLAYGROUND ****/

.grad {
    background: rgba(150,150,150,0.5); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(150,150,150,0.5), rgba(250,250,250,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(150,150,150,0.5), rgba(250,250,250,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(150,150,150,0.5), rgba(250,250,250,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(150,150,150,0.5), rgba(250,250,250,1)); /* Standard syntax */
}

